body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(71, 69, 69);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#mensagem-container {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(71, 69, 69); 
    color: red; 
    border: 1px solid #c3e6cb; 
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
