* {
    margin: 0;
    padding: 0;
}

.carrossel_container {
    position: relative;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 650px;
}

.images_carrossel img {
    position: absolute;
    width: 300px;
    height: 300px;
    
}
