* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;               
    padding: 0;            
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
}

.carrossel_container {
    position: relative;
    width: 46%;
    margin: 0 auto;
    overflow: hidden;
    top: 100px;
}

.images_carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel_slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carrossel_slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

button.ant, button.prox {
    position: absolute;
    top: 32%;
    transform: translate(-50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.ant {
    left: 10px;
}

button.prox {
    right: -15px;
}

button.ant:hover, button.prox:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e2e2e2;
}

td:nth-child(3) {
    font-weight: bold;
    color: #008000;
}